body{
  background-image: url('../../img/934733.jpg');
  background-attachment: fixed;
  background-size:cover;
}
.contenedor{
    width:350px;
    height: 500px;
    display:flex;
    justify-content:center;
    align-items:center;
    /* background: rgb(0, 0, 0); */
    /* background: linear-gradient(90deg, rgb(220, 154, 2) 0%, rgba(0,212,255,1) 100%);
    background-size:cover; */
    margin-top: 50px;
    padding: 0;
  }
  
  /* .flip-card-container */
.flip-card-container {
  --hue: 150;
  --primary: hsl(var(--hue), 50%, 50%);
  --white-1: hsl(0, 0%, 90%);
  --white-2: hsl(0, 0%, 80%);
  --dark: hsl(var(--hue), 25%, 10%);
  --grey: hsl(0, 0%, 50%);
  width: 100%;
  height: 100%;
  /* margin: 40px; */
  perspective: 900px;
  font-family: monospace;
  
}

/* .flip-card */
.flip-card {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: .6s .1s;
  

}

/* hover and focus-within states */
.flip-card-container:hover .flip-card,
.flip-card-container:focus-within .flip-card {
  transform: rotateY(180deg);
}

/* .card-... */
.card-front,
.card-back {
  width: 100%;
  height: 100%;
  border-radius: 24px;
  border: 1px white solid;
  background: rgb(0, 0, 0, 0.9);
  position: absolute;
  overflow: hidden;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .card-front */
.card-front {
  transform: rotateY(0deg);
  z-index: 2;
}

/* .card-back */
.card-back {
  transform: rotateY(180deg);
  z-index: 1;
}

/* figure */
figure {
  z-index: -1;
}

/* figure, .img-bg */
figure,
.img-bg {
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
}

/* img */
img {
  height: 100%;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}

/* figcaption */
figcaption {
  display: block;
  width: auto;
  margin-top: 12%;
  padding: 8px 22px;
  font-weight: bold;
  line-height: 1.6;
  letter-spacing: -1px;
  word-spacing: 6px;
  text-align: right;
  font-size: 22px;
  position: absolute;
  top: 0;
  right: 12px;
  border-radius: 10px;
  color: var(--white-1);
  background: rgb(0, 0, 0, 0.3);
}

/* .img-bg */
.img-bg {
  background: rgb(0, 0, 0, 0.3);
}

.card-back .img-bg {
  /* clip-path: polygon(0 0, 100% 0, 100% 80%, 0 60%); */
  background-color: rgb(0, 0, 0, 0.8);
}

/* hover state */
.flip-card-container:hover .card-front .img-bg::before {
  width: 6px;
  border-left-color: var(--primary);
  border-right-color: var(--primary);
}

/* ul */
ul {
  padding-top: 200px;
  margin: 0 auto;
  width: 100%;
  height: 70px;

  list-style: none;
  color: var(--white-1);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* li */
li {
  width: 100%;
  margin-top: 12px;
  padding-bottom: 12px;

  font-size: 14px;
  text-align: center;

  position: relative;
}

li:nth-child(2n) {
  color: var(--white-2);
}

li:not(:last-child)::after {
  content: "";

  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 1px;

  background: currentColor;
  opacity: .2;
}

/* button */
button {
  font-family: inherit;
  font-weight: bold;
  color: var(--white-1);
  letter-spacing: 2px;
  padding: 9px 20px;
  border: 1px solid var(--grey);
  border-radius: 1000px;
  background: transparent;
  transition: .3s;
  cursor: pointer;
}

button:hover,
button:focus {
  color: rgb(152, 1, 117) 1px;
  border: solid rgb(152, 1, 117) 1px;
  border-color: currentColor;
}

button:active {
  transform: translate(2px);
}



  
